body{
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;

}
.container{
    display:flex;
    flex-direction: row;
    background-color: white;
    padding:10px;
    justify-self: center;
}
@media screen and (max-width:768px){
    .container{
        flex-direction:column;
    }
    .login{
        flex-direction:column;
        align-self: center;
    }
    .login img{
        width: 50%;
    }
    .login-content{
        flex-direction:column;
        align-self: center;
    }
}
.login{
    width:40%;
    align-content: center;
    align-items: center;
}
.login img{
    width: 100%;
}
.login-content{
    padding:5px;
    text-align: center;
    flex-grow: 1;
    max-width: 900px;
}
a{
    color: #4b60d6;
    text-decoration: none;
    font-weight: bold;
}
h1{
    font-size: 24px;
    color: #2c3e94;
    padding-bottom: 5px;
}
p{
    font-size: 14px;
    color: #4b60d6;
}
label{
    color: #2c3e94;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
}
input{
    padding: 10px;
    border: solid 1px #b4c4f8;
    border-radius: 6px;
    width:100%;
    box-sizing: border-box;
}
form p{
    text-align: right;
}
button{
    background-color: #4b60d6;
    border-radius: 6px;
    padding: 10px;
    color:white;
    width:100%;
    border: none;
}
button:hover{
    background-color: #2c3e94;
}
.social-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.social-icons img{
    width:32px;
    height:32px;
}